/* Home_section  */
/* Nav */
body {
  width: 1280px;
  margin: 0 auto;
}
.Nav {

  display: flex;
  padding: 1%;
}


.div_one_nav {
  display: flex;
  gap: 5%;
  justify-content: center;
}
.menu_logo {
  display: none;
}
.div_own_in_ul {
  display: flex;
  margin-left: 52%;
  gap: 10px;
}
.div_own_in_ul .div_botton_ul {
  display: flex;
  gap: 20%;
  align-items: center;
}
.null_div_in_nav {
  border: 1px solid black;
  height: 40%;
}
.div_own_in_ul ul {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 1rem;
  font-weight: 900;
  list-style: none;
}
/* div_next_in_nav */
.div_next_in_nav {
  background-image: url(../images/Picture\ Frame.png);
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.p_in_section_one {
  font-weight: 300;
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  padding: 9% 0 0 9%;
}
.btn_Home {
  border: none;
  border-radius: 30px;
  background: rgba(119, 113, 113, 0.573);
  color: #ffffff;
  font-size: 1.5em;
  width: 20%;
  padding: 10px;
  margin: 0 10% 10% ;
}
.btn_Home:hover {
  background-color: #252424;
  color: #635d5d;
}

/* --------<   Secand section  >----------------*/

.Secand_section .contaner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 3% 0;
}
.Secand_section .div_one {
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 12, 1fr;
  text-align: center;
  align-items: center;
}
.div_two_in_secand_section {
  grid-column-start: 5;
  grid-column-end: 13;
  background-image: url(../images/OUR\ JOURNEY.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 45vh;
}
.icon_one_in_sceand_section {
  grid-column-start: 1;
  grid-column-end: 6;
}
.icon_two_in_sceand_section {
  grid-column-start: 6;
  grid-column-end: 12;
}
.icon_three_in_sceand_section {
  grid-column-start: 1;
  grid-column-end: 6;
}
.icon_four_in_sceand_section {
  grid-column-start: 6;
  grid-column-end: 12;
}
.div_two_in_secand_section .h2-and-p-in-pictuer {
  color: #fff;
  margin: 4% 0 0 5%;
  font-size: 1.5rem;
  font-weight: 400;
}

/* ------------------< photo section >--------------- */

/* PHoto section */

.photo_contaner .first_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}
.photo_section .h2_in_photo {
  position: absolute;
  margin: 15% 0 0 4%;
  color: #ffff;
  font-weight: 400;
  font-size: 50px;
}
.photo_section .p_in_photo {
  position: absolute;
  margin: 20% 10% 0 4%;
  color: #ffff;
  font-size: 1.4rem;
}
.Image_div_in_photo_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.Image_div_in_photo_section .img1 {
  grid-column: span 2;
}
.Image_div_in_photo_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* ------------------------< TALK OF THE TOWN >---------------------- */
/*TALK OF THE TOWN */
.big_div_in_TALK {
  padding: 2% 0;
  position: relative;
  background-image: url(../images/FEEDBACK.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 70vh;
}
.title_TALK h2 {
  font-size: 2em;
  font-weight: 900;
}
.title_TALK h3 {
  font-weight: 900;
}
.TALK_OF_THE_TOWN .contaner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.h3_in_big_div_in_TALK {
  font-size: 2em;
  font-weight: 100;
}
.TALK_OF_THE_TOWN .big_div_in_TALK p {
  font-size: 1.7em;
}
.p_h3_img {
  color: #fff;
}
/* -----------------< section Book >--------------------- */
/* Book section */
.conterner_book {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 11%;
  padding: 5% 0 50px;
}
.contaner_of_jmg_in_book_section {
  grid-column-start: 1;
  grid-column-end: 5;
}
.book_all {
  grid-column-start: 5;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
}
.h2_in_book {
  font-size: 2em;
  font-weight: 300;
}
.p_in_book {
  font-size: 1.3em;
}
.form_in_book_section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 50%;
  column-gap: 5%;
  padding-top: 5%;
}
.input_one_of_Book {
  grid-column-start: 1;
  grid-column-end: 6;
}
.input_two_of_Book {
  grid-column-start: 6;
  grid-column-end: 12;
}
.input_three_of_Book {
  grid-column-start: 1;
  grid-column-end: 6;
}
.input_four_of_Book {
  grid-column-start: 6;
  grid-column-end: 12;
}
.imag_clock_in_book,
.img_calendar_in_book {
  width: 5%;
}
.btn_in_form_book {
  grid-column-start: 4;
  grid-column-end: 8;
  font-size: larger;
  padding: 10px 5px;
  border: none;
  border-radius: 7px;
  background: #7c5681;
  color: #fff;
  outline: none;
}
.input_in_book_section {
  border: none;
  border-bottom: 1px black solid;
  font-size: large;
  width: 90%;
  outline: none;
}
.input_time_date_book_section {
  border: none;
  font-size: large;
  width: 92%;
  outline: none;
}

/* -------------------------< login section >-------------------- */

.conterner {
  background: #7c5681;
  border-radius: 25px;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.form_div {
  background-image: url(../images/spag.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 8;
  padding: 1% 10% 35%;
  border-radius: 20px;
  height:200px;
}

.login-form-section .form-div h3 {
  font-size: 1.5rem;
}
.login-form-section .form-div p {
  font-size: 1.2em;
}
.input_div_in_login_form {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  gap: 50%;
  height: 200px;
}
.conterner .login_form {
  color: rgba(234, 230, 230, 0.543);
}
.i_l_f {
  background: none;
  font-size: large;
  outline: none;
  border: none;
  color: rgba(234, 230, 230, 0.543);
  width: 100%;
  height: 30px;
  border-bottom: solid 1px grey;
}
.betwn_input {
  display: flex;
  gap: 15%;
}
.input_div_in_login_form {
  position: relative;
}
.login_form_section .btn_in_form {
  font-size: larger;
  padding: 10px 5px;
  position: absolute;
  right: 5%;
  top: 45vh;
  border: none;
  border-radius: 7px;
  width: 170px;
  background: #7c5681;
  color: #fff;
  outline: none;
}
.contact_information {
  grid-column-start: 8;
  grid-column-end: 12;
  padding: 30% 0 0 20%;
  font-size: larger;
}
.in_information_in_login_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 70px;
  font-size: larger;
}
.i_tag_in_login_form {
  display: flex;
  gap: 5%;
  margin-top: 160px;
}
.imges_soiel {
  width: 30px;
}
/*------------------- footer section--------------------- */
footer .continer {
  display: flex;
  justify-content: space-between;
}
footer .lin_footer_top {
  width: 100%;
  background-color: black;
  height: 1px;
  margin: 2% 0 0 0;
}
footer .lin_footer_botton {
  width: 100%;
  background-color: black;
  height: 1px;
  margin: 0% 0 2% 0;
}
footer .cell_phone,
.localtion,
.email {
  gap: 5%;
}
.between_in_footer {
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
}
footer h3 {
  font-size: 30px;
}
.C_L_E {
  width: 14px;
}
footer .logo_imag_in_footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 50px;
}
footer .the_end_div {
  font-size: x-large;
  text-align: right;
}
footer .last_lu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* .................................................Mobile media..................................................*/
@media (max-width:600px){
  /* --------------------------------------Home section----------------------- */
  body {
    width: 98%;
    margin: auto auto;
  
  }
  .Nav {
    align-items: center;
    padding: 10px;
  }
  .div_one_nav img,
  h3 {
    font-size: 0.7em;
    width: 35px;
  }
  .div_one_nav {
    align-items: center;
    gap: 10%;
  }
  .div_own_in_ul .div_botton_ul {
    justify-content: end;
    gap: 2%;
  }
  .menu_logo {
    display: block;
    width: 20%;
  }
  .null_div_in_nav {
    display: none;
  }
  .div_own_in_ul ul {
    display: none;
  }

  .div_next_in_nav {
    height: 60vh;
    width: 99%;
  }
  .p_in_section_one {
    font-size: 1.5em;
  }
  .btn_Home {
    font-size: 0.8em;
    width: 30%;
    height: 6%;
  }
/* --------------------------------------------Secand section------------------ */
  .Secand_section .div_one {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    justify-content: center;
    padding: 3% 0;
    gap: 5%;
  }
  .div_two_in_secand_section {
    grid-column-start: 1;
    grid-column-end: 13;
    height: 25vh;
  }
  .icon_four_in_sceand_section {
    grid-column-start: 6;
    grid-column-end: 12;
  }
  .div_two_in_secand_section .h2-and-p-in-pictuer {
    font-size: 0.9rem;
  }
  .logo_1_in_secand_section {
    width: 30px;
  }
  .Secand_section .div_one p {
    font-size: 0.5em;
  }
  .logo_2_in_secand_section {
    width: 35px;
  }

  /* --------------------------------------Phone section---------------------- */
  .photo_contaner .first_div {
    width: 100%;
  }
  .photo_contaner .first_div h3 {
    width: 150px;
    font-size: 0.5em;
    text-align: center;
  }
  .photo_contaner .first_div h1 {
    font-size: 1em;
  }
  .photo_section .h2_in_photo {
    font-size: 1em;
  }
  .photo_section .p_in_photo {
    font-size: 0.5em;
    margin-right: 40%;
  }
  .Image_div_in_photo_section {
    gap: 8px;
  }
  /* --------------------------------------TALK OF TOWN----------------------- */
  .big_div_in_TALK {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
  }
  .title_TALK {
    width: 100%;
  }
  .title_TALK h2 {
    font-size: 0.6em;
  }
  .title_TALK h3 {
    font-size: 0.4em;
    margin: 0 auto 4px;
  }
  .big_div_in_TALK img {
    width: 10%;
  }
  .h3_in_big_div_in_TALK {
    font-size: 0.8em;
    width: 30%;
  }
  .TALK_OF_THE_TOWN .big_div_in_TALK p {
    font-size: 0.5em;
  }
  .starts_div_in_TALK_OF_THE_TOWN {
    width: 50%;
  }

  /* --------------------------------------BOOk section------------------------ */
  .conterner_book {
    position: relative;
    gap: 0;
    color: #fff;
  }
  .first_img_in_book {
    width:300%;
    height: 50vh;
  }
  .book_all {
    padding: 15% 0 0 0;
    position: absolute;
    right: -30%;
    width: 400px;
  }
  .h2_in_book {
    font-size: 0.8em;
    font-weight: 900;
    padding: 0% 10%;
  }
  .p_in_book {
    font-size: 0.6em;
    padding: 0% 10%;
  }
  .form_in_book_section{
    margin: 0 10%;
  }
  .imag_clock_in_book,
  .img_calendar_in_book {
    width: 10%;
    margin-top: 5px;
  }
  .btn_in_form_book {
    font-size: 0.8em;
    padding: 7px 2px;
    border: none;
    border-radius: 7px;
    background: #7c5681;
    color: #fff;
    outline: none;
  }
  .input_in_book_section {
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    width: 60%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .input_time_date_book_section {
    border: none;
    background: none;
    font-size: 1em;
    width: 80%;
  }
  .input_four_of_Book,
  .input_three_of_Book {
    text-align: center;
    padding-bottom: 3px;
  }
  /* --------------------------------------login form-------------------------- */
.form_div {
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 2% 10%;
  }
  .login_form_section .form_div h3 {
    font-size: 0.8rem;
    width: 100px;
  }
  .login_form_section .form_div p {
    font-size: 0.8em;
  }
  .input_div_in_login_form {
    gap: 15%;
    height: 40vh;
  }
  .conterner .login_form {
    color: rgba(234, 230, 230, 0.543);
  }
  .i_l_f {
    font-size: medium;
    color: rgba(244, 241, 241, 0.543);
  }
  .input_div_in_login_form {
    position: relative;
  }
  .login_form_section .btn_in_form {
    font-size: small;
    padding: 10px 5px;
    top: 30vh;
  }

  .contact_information {
    grid-column-start: 1;
    grid-column-end: 12;
    padding: 5px 10px;
  }
  .in_information_in_login_form {
    gap: 1px;
    margin: 0 0;
    font-size: small;
  }
  .i_tag_in_login_form {
    margin-top: 20px;
    gap: 40px;
  }
  .imges_soiel {
    width: 20px;
  }
  /* footer section */
  footer .continer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .insid {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 4;
    padding: 20px;
  }
  footer .cell_phone,
.localtion,
.email {
  display: flex;
  align-items: center;

}
  .C_L_E {
    width: 14px;
  }

  .between_in_footer {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  footer h3 {
    font-size: 20px;
  }
 .socelmdae_inefooter{
  width: 20px;
 } 
  footer .the_end_div {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
  }
  footer .last_lu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    font-size: medium;
    background-color: #7c5681;
    border: 1px solid blueviolet;
    text-align: center;
    padding: 10px 0px;
    border-radius: 20px;
  }
  .li_one {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .li_tow {
    grid-column-start: 4;
    grid-column-end: 8;
  }
  .li_three {
    grid-column-start: 8;
    grid-column-end: 12;
  }
  .li_four {
    grid-column-start: 1;
    grid-column-end: 8;
  }
}

/* -----------------------------------------------Tabalts-------------------------------------*/
@media (min-width: 601px) and (max-width: 1024px) {

  body {
    width: 95%;
    margin: 0 auto;
  }
  .Nav{
    font-size: 0.7em;
  }
  .Nav ul{
    font-size: 100%;
  }
  .div_own_in_ul {
    margin-left: auto;
  }
  .div_own_in_ul ul {
    gap: 30px;
    font-size: 0.9rem;
  }
  /* ------------------------- HOME --------------------- */
  .div_next_in_nav {
    height: 70vh;
  }
  .p_in_section_one {
    font-size: 2.3rem;
  }
  .btn_Home {
    width: 25%;
    font-size: 1.1em;
  }
  /* -------- Secand secation-------- */
  .Secand_section .div_one {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .div_two_in_secand_section {
    grid-column-start: 6;
    grid-column-end: 13;
    height: 40vh;
  }
  .Secand_section .div_one p {
    font-size: 0.9em;
  }
  /* ---------------------------------------------------phone sction -------- */
  .photo_section .h2_in_photo {
    font-size: 2rem;
  }
  .photo_section .p_in_photo {
    font-size: 1rem;
  }
  .Image_div_in_photo_section {
    grid-template-columns: repeat(2, 1fr);
  }
  /* -------------------------------------------- TALK OF THE TOWN ------------------------------------- */
  .big_div_in_TALK {
    height: 50vh;
  }
  .title_TALK h2 {
    font-size: 1.5em;
  }
  .TALK_OF_THE_TOWN .big_div_in_TALK p {
    font-size: 1.2em;
  }
  /* ------------------------------------- Book section---------------------- */
  .conterner_book {
    position: relative;
    gap: 0;
    color: #fff;
   
  }
  .first_img_in_book {
    width:300%;
    height: 50vh;
  }
  .book_all {
    background-color:rgba(225,255,255, 0.5);
    border-radius: 20px;
    padding: 10%;
    position: absolute;
    margin: 20% 40% 0 0;
    align-items: center;
    width: 80%;
    height: 28vh;
  }
  .h2_in_book {
    font-size: 1.8em;
    font-weight: 900;
  }
  .p_in_book {
    font-size: 1em;
  }
  
  .btn_in_form_book {
    font-size: 0.8em;
    padding: 7px 2px;
    border: none;
    border-radius: 7px;
    background: #7c5681;
    color: #fff;
    outline: none;
  }
  .input_in_book_section {
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    width: 60%;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .input_time_date_book_section {
    border: none;
    background: none;
    font-size: 1em;
    width: 80%;
  }
  .input_four_of_Book,
  .input_three_of_Book {
    text-align: center;
    padding-bottom: 3px;
  }
  /* --------------------------------- loing------------------------------------------------------- */
  .form_div {
    grid-column-start: 1;
    grid-column-end: 9;
  }
  .contact_information {
    grid-column-start: 9;
    grid-column-end: 13;
    padding: 15% 0 0 10%;
  }
  /* ---------------------------------------------- footer------------------------------- */
  footer h3 {
    font-size: 24px;
  }

}

/*+++++++++++++++++++++++++++++++++++++++++++<<<<<<<<<<<<<<<<LARGE SCREENS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 1281px) {

  body {
    width: 1400px;
    margin: 0 auto;
  }
  .p_in_section_one {
    font-size: 3.5rem;
  }

  .btn_Home {
    width: 18%;
    font-size: 1.4em;
  }
  .div_two_in_secand_section {
    height: 50vh;
  }
  .photo_section .h2_in_photo {
    font-size: 3rem;
  }

  .photo_section .p_in_photo {
    font-size: 1.5rem;
  }

  .big_div_in_TALK {
    height: 75vh;
  }
  .h2_in_book {
    font-size: 2.2em;
  }

  .p_in_book {
    font-size: 1.4em;
  }
  .form_div{
    height: 55%;
  }

}
/* finshed */